In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("DR - DR 12-15 with new ID.csv")

In [6]:
df

,vol,kod_kawasan,negeri,kawasan,uid,new_id,gelaran,nama,tahun_lahir,jantina,kumpulan_etnik,parti,jawatan_kabinet,jawatan_parlimen,gambar,remark
0,12,P001,Perlis,Padang Besar,2289,40.0,YB Dato' Seri Haji,Azmi bin Khalid,1941.0,male,bumiputera,BN - UMNO,NaN,NaN,https://www.parlimen.gov.my/images/webuser/ahl...,NaN
1,12,P002,Perlis,Kangar,1663,12.0,YB Dato' Seri,Mohd Radzi bin Sheikh Ahmad,1942.0,male,bumiputera,BN - UMNO,NaN,NaN,https://www.parlimen.gov.my/images/webuser/ahl...,NaN
2,12,P003,Perlis,Arau,3285,97.0,YB Dato',Ismail Bin Kasim,1960.0,male,bumiputera,BN - UMNO,NaN,NaN,https://www.parlimen.gov.my/images/webuser/ahl...,NaN
3,12,P004,Kedah,Langkawi,3286,98.0,YB Dato' Paduka,Abu Bakar bin Taib,1943.0,male,bumiputera,BN - UMNO,NaN,NaN,https://www.parlimen.gov.my/images/webuser/ahl...,NaN
4,12,P005,Kedah,Jerlun,3288,99.0,YB Dato',Mukhriz bin Tun Mahathir,1964.0,male,bumiputera,BN - UMNO,Timbalan Menteri Perdagangan Antarabangsa Dan ...,NaN,https://www.parlimen.gov.my/images/webuser/ahl...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
910,15,P220,Sarawak,Baram,3978,337.0,YB Dato,Anyi Ngau,1958.0,male,bumiputera,GPS,NaN,NaN,https://www.parlimen.gov.my/images/webuser/ahl...,NaN
911,15,P221,Sarawak,Limbang,3627,245.0,YB Datuk Haji,Hasbi bin Haji Habibollah,1963.0,male,bumiputera,GPS,Timbalan Menteri Pengangkutan,NaN,https://www.parlimen.gov.my/images/webuser/ahl...,NaN
912,15,P222,Sarawak,Lawas,2912,72.0,YB Dato,Henry Sum Agong,1946.0,male,bumiputera,GPS,NaN,NaN,https://www.parlimen.gov.my/images/webuser/ahl...,NaN
913,15,NaN,NaN,NaN,3304,107.0,YB Tan Sri Dato' (Dr.),Johari bin Abdul,1955.0,male,bumiputera,NaN,NaN,Yang di-Pertua Dewan Rakyat,https://www.parlimen.gov.my/images/webuser/ahl...,NaN
914,15,NaN,NaN,NaN,9999993,570.0,Dr.,Nizam Mydin bin Bacha Mydin,1975.0,male,bumiputera,NaN,NaN,Setiausaha Dewan Rakyat,https://www.parlimen.gov.my/images/webuser/ahl...,NaN

In [7]:
map_key = df["uid"].drop_duplicates().sort_values().reset_index(drop=True).to_dict()

In [8]:
inv_map_key = {v: k for k, v in map_key.items()}

In [9]:
inv_map_key

{375: 0,
 698: 1,
 848: 2,
 872: 3,
 985: 4,
 991: 5,
 1216: 6,
 1228: 7,
 1238: 8,
 1426: 9,
 1613: 10,
 1644: 11,
 1663: 12,
 1665: 13,
 1676: 14,
 1692: 15,
 1712: 16,
 1804: 17,
 1825: 18,
 1839: 19,
 1860: 20,
 1895: 21,
 1898: 22,
 1958: 23,
 1965: 24,
 1981: 25,
 2081: 26,
 2113: 27,
 2119: 28,
 2128: 29,
 2187: 30,
 2190: 31,
 2224: 32,
 2230: 33,
 2232: 34,
 2236: 35,
 2242: 36,
 2254: 37,
 2258: 38,
 2265: 39,
 2273: 40,
 2289: 41,
 2333: 42,
 2368: 43,
 2393: 44,
 2404: 45,
 2411: 46,
 2416: 47,
 2436: 48,
 2447: 49,
 2471: 50,
 2501: 51,
 2550: 52,
 2574: 53,
 2586: 54,
 2615: 55,
 2655: 56,
 2661: 57,
 2665: 58,
 2692: 59,
 2706: 60,
 2709: 61,
 2716: 62,
 2721: 63,
 2769: 64,
 2778: 65,
 2789: 66,
 2797: 67,
 2857: 68,
 2861: 69,
 2874: 70,
 2894: 71,
 2903: 72,
 2912: 73,
 2922: 74,
 2928: 75,
 2932: 76,
 2934: 77,
 2958: 78,
 2986: 79,
 2990: 80,
 3012: 81,
 3019: 82,
 3061: 83,
 3095: 84,
 3142: 85,
 3148: 86,
 3153: 87,
 3186: 88,
 3203: 89,
 3204: 90,
 3226: 91,
 3238: 92,
 3242: 93,
 3254: 94,
 3265: 95,
 3270: 96,
 3273: 97,
 3285: 98,
 3286: 99,
 3288: 100,
 3290: 101,
 3292: 102,
 3294: 103,
 3295: 104,
 3298: 105,
 3300: 106,
 3302: 107,
 3304: 108,
 3305: 109,
 3306: 110,
 3308: 111,
 3309: 112,
 3310: 113,
 3311: 114,
 3313: 115,
 3315: 116,
 3318: 117,
 3322: 118,
 3324: 119,
 3325: 120,
 3327: 121,
 3330: 122,
 3333: 123,
 3336: 124,
 3338: 125,
 3340: 126,
 3342: 127,
 3345: 128,
 3346: 129,
 3350: 130,
 3354: 131,
 3355: 132,
 3357: 133,
 3361: 134,
 3364: 135,
 3366: 136,
 3369: 137,
 3371: 138,
 3372: 139,
 3376: 140,
 3380: 141,
 3383: 142,
 3388: 143,
 3390: 144,
 3391: 145,
 3393: 146,
 3395: 147,
 3398: 148,
 3399: 149,
 3402: 150,
 3403: 151,
 3406: 152,
 3409: 153,
 3411: 154,
 3413: 155,
 3414: 156,
 3416: 157,
 3420: 158,
 3421: 159,
 3422: 160,
 3424: 161,
 3427: 162,
 3428: 163,
 3431: 164,
 3433: 165,
 3434: 166,
 3436: 167,
 3438: 168,
 3440: 169,
 3441: 170,
 3443: 171,
 3446: 172,
 3447: 173,
 3449: 174,
 3451: 175,
 3452: 176,
 3456: 177,
 3457: 178,
 3460: 179,
 3464: 180,
 3467: 181,
 3468: 182,
 3470: 183,
 3473: 184,
 3474: 185,
 3477: 186,
 3478: 187,
 3480: 188,
 3483: 189,
 3487: 190,
 3488: 191,
 3489: 192,
 3491: 193,
 3492: 194,
 3493: 195,
 3497: 196,
 3498: 197,
 3501: 198,
 3502: 199,
 3505: 200,
 3506: 201,
 3507: 202,
 3509: 203,
 3510: 204,
 3512: 205,
 3515: 206,
 3516: 207,
 3518: 208,
 3520: 209,
 3522: 210,
 3524: 211,
 3527: 212,
 3529: 213,
 3530: 214,
 3533: 215,
 3537: 216,
 3538: 217,
 3541: 218,
 3544: 219,
 3547: 220,
 3554: 221,
 3558: 222,
 3562: 223,
 3563: 224,
 3565: 225,
 3566: 226,
 3572: 227,
 3573: 228,
 3581: 229,
 3583: 230,
 3585: 231,
 3587: 232,
 3591: 233,
 3598: 234,
 3599: 235,
 3603: 236,
 3607: 237,
 3609: 238,
 3610: 239,
 3612: 240,
 3613: 241,
 3615: 242,
 3622: 243,
 3624: 244,
 3625: 245,
 3627: 246,
 3630: 247,
 3633: 248,
 3635: 249,
 3638: 250,
 3641: 251,
 3646: 252,
 3647: 253,
 3648: 254,
 3649: 255,
 3656: 256,
 3659: 257,
 3661: 258,
 3663: 259,
 3665: 260,
 3667: 261,
 3670: 262,
 3672: 263,
 3673: 264,
 3676: 265,
 3678: 266,
 3680: 267,
 3682: 268,
 3684: 269,
 3686: 270,
 3689: 271,
 3692: 272,
 3699: 273,
 3701: 274,
 3705: 275,
 3706: 276,
 3708: 277,
 3712: 278,
 3714: 279,
 3715: 280,
 3717: 281,
 3724: 282,
 3730: 283,
 3733: 284,
 3736: 285,
 3738: 286,
 3740: 287,
 3745: 288,
 3746: 289,
 3752: 290,
 3754: 291,
 3756: 292,
 3763: 293,
 3768: 294,
 3770: 295,
 3772: 296,
 3775: 297,
 3779: 298,
 3783: 299,
 3786: 300,
 3798: 301,
 3815: 302,
 3816: 303,
 3827: 304,
 3830: 305,
 3835: 306,
 3840: 307,
 3843: 308,
 3844: 309,
 3849: 310,
 3856: 311,
 3857: 312,
 3859: 313,
 3862: 314,
 3865: 315,
 3866: 316,
 3868: 317,
 3875: 318,
 3882: 319,
 3888: 320,
 3892: 321,
 3894: 322,
 3898: 323,
 3903: 324,
 3907: 325,
 3922: 326,
 3924: 327,
 3928: 328,
 3932: 329,
 3939: 330,
 3940: 331,
 3945: 332,
 3947: 333,
 3949: 334,
 3956: 335,
 3958: 336,
 3962: 337,
 3967: 338,
 3969: 339,
 3974: 340,
 3978: 341,
 3981: 342,
 3986: 343,
 3992: 344,
 4000: 345,
 4003: 346,
 4006: 347,
 4008: 348,
 4016: 349,
 4022: 350,
 4027: 351,
 4031: 352,
 4037: 353,
 4043: 354,
 4048: 355,
 4052: 356,
 4057: 357,
 4059: 358,
 4072: 359,
 4077: 360,
 4080: 361,
 4095: 362,
 4099: 363,
 4102: 364,
 4104: 365,
 4105: 366,
 4109: 367,
 4126: 368,
 4128: 369,
 4133: 370,
 4140: 371,
 4152: 372,
 4157: 373,
 4160: 374,
 4161: 375,
 4163: 376,
 4177: 377,
 4186: 378,
 4200: 379,
 4207: 380,
 4212: 381,
 4213: 382,
 4215: 383,
 4219: 384,
 4227: 385,
 4230: 386,
 4234: 387,
 4238: 388,
 4241: 389,
 4242: 390,
 4247: 391,
 4248: 392,
 4252: 393,
 4257: 394,
 4261: 395,
 4263: 396,
 4266: 397,
 4270: 398,
 4273: 399,
 4276: 400,
 4278: 401,
 4284: 402,
 4289: 403,
 4314: 404,
 4317: 405,
 4322: 406,
 4325: 407,
 4336: 408,
 4340: 409,
 4347: 410,
 4360: 411,
 4367: 412,
 4379: 413,
 4383: 414,
 4385: 415,
 4388: 416,
 4390: 417,
 4397: 418,
 4403: 419,
 4409: 420,
 4413: 421,
 4420: 422,
 4423: 423,
 4425: 424,
 4432: 425,
 4434: 426,
 4438: 427,
 4447: 428,
 4449: 429,
 4455: 430,
 4459: 431,
 4461: 432,
 4463: 433,
 4470: 434,
 4471: 435,
 4478: 436,
 4482: 437,
 4489: 438,
 4491: 439,
 4498: 440,
 4508: 441,
 4509: 442,
 4516: 443,
 4522: 444,
 4526: 445,
 4529: 446,
 4532: 447,
 4535: 448,
 4539: 449,
 4542: 450,
 4547: 451,
 4549: 452,
 4556: 453,
 4560: 454,
 4566: 455,
 4568: 456,
 4572: 457,
 4579: 458,
 4584: 459,
 4586: 460,
 4593: 461,
 4596: 462,
 4601: 463,
 4604: 464,
 4620: 465,
 4626: 466,
 4630: 467,
 4631: 468,
 4635: 469,
 4643: 470,
 4657: 471,
 4663: 472,
 4666: 473,
 4669: 474,
 4674: 475,
 4678: 476,
 4683: 477,
 4688: 478,
 4691: 479,
 4697: 480,
 4706: 481,
 4712: 482,
 4713: 483,
 4719: 484,
 4721: 485,
 4725: 486,
 4730: 487,
 4731: 488,
 4738: 489,
 4741: 490,
 4745: 491,
 4749: 492,
 4756: 493,
 4759: 494,
 4763: 495,
 4770: 496,
 4773: 497,
 4778: 498,
 4785: 499,
 4789: 500,
 4799: 501,
 4810: 502,
 4821: 503,
 4827: 504,
 4829: 505,
 4836: 506,
 4844: 507,
 4850: 508,
 4856: 509,
 4861: 510,
 4876: 511,
 4889: 512,
 4901: 513,
 4907: 514,
 4914: 515,
 4922: 516,
 4925: 517,
 4933: 518,
 4934: 519,
 4941: 520,
 4946: 521,
 4949: 522,
 4959: 523,
 4962: 524,
 4967: 525,
 4978: 526,
 4986: 527,
 4997: 528,
 5004: 529,
 5007: 530,
 5011: 531,
 5015: 532,
 5026: 533,
 5032: 534,
 5038: 535,
 5046: 536,
 5052: 537,
 5055: 538,
 5064: 539,
 5070: 540,
 5073: 541,
 5081: 542,
 5082: 543,
 5091: 544,
 5093: 545,
 5097: 546,
 5103: 547,
 5106: 548,
 5113: 549,
 5122: 550,
 5127: 551,
 5131: 552,
 5135: 553,
 5137: 554,
 5146: 555,
 5148: 556,
 5153: 557,
 5155: 558,
 5160: 559,
 5162: 560,
 5166: 561,
 5169: 562,
 5171: 563,
 5173: 564,
 5179: 565,
 5183: 566,
 5185: 567,
 5187: 568,
 5203: 569,
 5212: 570,
 7897: 571,
 17049: 572,
 9999990: 573,
 9999991: 574,
 9999992: 575,
 9999993: 576,
 9999994: 577,
 9999995: 578,
 9999999: 579}

In [10]:
df["new_id"] = df["uid"].apply(lambda x: inv_map_key[x])

In [11]:
df.to_csv("dr_1215_new_id2.csv", index=False)

In [46]:
df_age = pd.read_csv("/Users/justin/govtech/projects/hansard/data_analysis/hansards-analysis/src_mp/candidates_master.csv")

In [53]:
df_age_ = df_age[["uid","birth_year"]].drop_duplicates()

In [55]:
pd.merge(df, df_age_, on="uid").to_csv("age_fix.csv", index = False)

In [13]:
pd.read_csv("candidates_master.csv").sort_values("uid")

,ge,state,parlimen,ballot_order,party,votes,result,result_desc,uid,name,birth_year,sex,ethnicity
2618,15,Sarawak,P.194 Petra Jaya,3,PARTI SEDAR RAKYAT SARAWAK (SEDAR),1036,0,lost_deposit,55,OTHMAN BIN ABDULLAH,1956,male,bumiputera
1126,14,Kelantan,P.020 Pengkalan Chepa,3,PARTI KEADILAN RAKYAT (PKR),7435,0,lost,113,WAN MOHAMED BIN IBRAHIM,1953,male,bumiputera
491,13,Kedah,P.004 Langkawi,2,PARTI KEADILAN RAKYAT (PKR),9546,0,lost,157,AHMAD BIN ABDULLAH,1950,male,bumiputera
406,12,Sabah,P.187 Kinabatangan,3,PARTI KEADILAN RAKYAT (PKR),2181,0,lost,157,AHMAD BIN ABDULLAH,1950,male,bumiputera
1920,15,Terengganu,P.037 Marang,4,PAKATAN HARAPAN (PH),4140,0,lost_deposit,192,USTADZ AZHARI,1965,male,bumiputera
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1179,14,Terengganu,P.037 Marang,3,PARTI ISLAM SE MALAYSIA (PAS),53749,1,won,17049,ABDUL HADI BIN AWANG,1948,male,bumiputera
1707,14,Sarawak,P.203 Lubok Antu,2,PARTI KEADILAN RAKYAT (PKR),3942,0,lost,17368,NICHOLAS BAWIN ANGGAT,1959,male,bumiputera
443,12,Sarawak,P.203 Lubok Antu,1,BEBAS (BEBAS),5159,0,lost,17368,NICHOLAS BAWIN ANGGAT,1959,male,bumiputera
1014,13,Sarawak,P.203 Lubok Antu,1,PARTI KEADILAN RAKYAT (PKR),2530,0,lost,17368,NICHOLAS BAWIN ANGGAT,1959,male,bumiputera
1827,15,Kedah,P.017 Padang Serai,2,PAKATAN HARAPAN (PH),35377,0,lost,20587,MOHAMAD SOFEE RAZAK,1973,male,bumiputera

# 1-11

In [28]:
df = pd.read_csv("DR - DR 1 - 11 no ID.csv")

In [29]:
df

,vol,kod_kawasan,negeri,kawasan,gelaran,nama,tahun_lahir,jantina,kumpulan_etnik,parti,jawatan_kabinet,jawatan_parlimen,gambar
0,1,P007,Kedah,Kuala Kedah,Y.T.M. Tunku,Abdul Rahman Putra AlHaj,NaN,male,bumiputera,Perikatan - UMNO,Perdana Menteri,NaN,NaN
1,1,P062,Pahang,Pekan,Y.A.B. Tun,Abdul Razak Bin Dato' Hussain,NaN,male,bumiputera,Perikatan - UMNO,Timbalan Perdana Menteri,NaN,NaN
2,1,P102,Johor,Johor Timur,Dato' Dr.,Ismail Bin Dato' Abdul Rahman,NaN,male,bumiputera,Perikatan - UMNO,NaN,NaN,NaN
3,1,P046,Perak,Sungei Siput,Dato',V.T. Sambanthan,NaN,male,indian,Perikatan - MIC,NaN,NaN,NaN
4,1,P092,Johor,Muar Selatan,Dato',Suleiman Bin Dato' Abdul Rahman,NaN,male,bumiputera,Perikatan - UMNO,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1841,11,P011,Kedah,Pendang,Dr.,Mohamed Hayati Bin Othman,NaN,male,bumiputera,BA - PAS,NaN,NaN,NaN
1842,11,P066,Perak,Batu Gajah,Puan,Fong Po Kuan,NaN,female,chinese,DAP,NaN,NaN,NaN
1843,11,P043,Pulau Pinang,Bagan,Tuan,Lim Hock Seng,NaN,male,chinese,DAP,NaN,NaN,NaN
1844,11,P195,Sarawak,Bandar Kuching,Tuan,Chong Chieng Jen,NaN,male,chinese,DAP,NaN,NaN,NaN
1845,11,P186,Sabah,Sandakan,Tuan,Chong Hon Min,NaN,male,chinese,BEBAS,NaN,NaN,NaN

In [30]:
df["nama"].unique()

array(['Abdul Rahman Putra AlHaj', "Abdul Razak Bin Dato' Hussain",
       "Ismail Bin Dato' Abdul Rahman", ..., 'Mohamed Hayati Bin Othman',
       'Chong Chieng Jen', 'Chong Hon Min'], shape=(1155,), dtype=object)

In [33]:
unique_names = df[df["vol"] == 1].nama.to_list()

In [41]:
from thefuzz import fuzz, process

In [42]:
for vol_id in [2]:
    new= set(df[df["vol"]==vol_id].nama.to_list()) - set(unique_names)
    print(new)

{'Mohd. Tahir Bin Abdul Majid', 'Chia Chin Shin', 'Ong Pang Boon', 'Mohamed Idris Bin Matsil', 'Megat Khas', 'Fatimah Binti Haji Abdul Majid', 'Banyang Anak Janting', 'Abdul Razak Bin Haji Hussin', 'Amadeus Mathew Leong', 'Kow Kee Seng', 'Kam Woon Wah', 'Tiah Eng Bee', 'Francis Umpau Anak Empam', 'Wan Hassan Bin Wan Daud', 'Stephen Yong Kuet Tze', 'Lim Pee Hung', 'Tan Chee Khoon', 'Ajibah Binti Abol', 'Mohamed Ghazali Bin Haji Jawi', 'Ganie Gilong', 'Ho See Beng', 'Othman Bin Wok', 'Toh Chin Chye', 'Mohd. Arif Salleh', 'Jinggut Anak Attan', 'Francis Chia Nyuk Tong', 'Chin Foon', 'Abdullah Ibni AlMarhum Tuanku Abdul Rahman', 'Jek Yeun Thong', 'Ramli Bin Omar', 'Abdullah Bin Haji Mohd. Salleh', 'Sandom Anak Nyuak', 'Suleiman Bin Ali', 'Wan Abdul Rahman Bin Datu Tuanku Bujang', 'Nik Ahmad Kamil', 'Wan Abdul Kadir Bin Ismail', "Muhammad Su'aut Bin Haji Muhd. Tahir", 'Tan Toh Hong', 'Abang Othman Bin Haji Moasili', 'Chia Thye Poh', 'Sim Boon Liang', 'Lim Chong Eu', 'Chan Seong Yoon', 'Abdul Rashid Bin Haji Jais', 'Mahathir Bin Mohamad', 'Abdullah Bin Abdulrahman', 'Jonathan Bangau Anak Renang', 'Mohamed Khir Bin Johari', 'Chen Wing Sum', 'Sng Chin Joo', 'Hanafiah Bin Hussain', 'Mohammad Dara Bin Langpad', 'Hussein Bin Sulaiman', 'Donald Aloysius Stephens', 'Lim Huan Boon', 'Awang Bin Hassan', 'Tan Tsak Yu', 'Khoo Siak Chiew', 'Muhammad Fakhruddin Bin Haji Abdullah', 'Jugah Anak Barieng', 'Khoo Peng Loong', 'S. Rajaratham', 'Hussain Rahimi Bin Haji Saman', 'Wan Mokhtar Bin Ahmad', 'Mustapha Bin Ahmad', 'Khaw Kai Boh', 'Zakaria Bin Haji Mohd. Taib', 'Ling Beng Siew', 'V. T. Sambanthan', "Ismail Bin Dato' Haji Abdul Rahman", 'Rahmat Bin Haji Daud', 'Senu Bin Abdul Rahman', 'Lim Kim San', "Abdul Rahman Bin Ya'kub", 'S. Fazul Rahman', 'Engku Muhsein Bin Abdul Kadir', 'Edwin Anak Tangkun', 'Edmund Langgu Anak Saga', 'Ng Fah Yam', 'Hussein Bin Mohd. Noordin', 'Peter Lo Su Yin', 'Ali Bin Haji Ahmad', 'D. R. Seenivasagam', 'Ng Kam Poh', 'C. V. Devan Nair', 'Ikhwan Zaini', 'Soh Ah Teck', "Hussein Bin To' Muda Hassan", 'Sulaiman Bin Bulon', 'Yeh Pao Tze', 'Mohamed Noordin Bin Mastan', 'Siow Loong Hin', 'Joe Manjaji', 'Ong Kee Hui', 'Wee Toon Boon', 'Aliuddin Bin Datu Harun', 'Kadam Anak Kiai', 'Yong Nyuk Lin', 'Abdul Rahman Putra Al Haj', 'Abdul Rahim Ishak', 'Mustapha Bin Haji Abdul Jabar', 'Mohd. Daud Bin Abdul Samad', 'Toh Theam Hock', 'Abdul Karim Bin Abu', 'Tai Kuan Yang', 'Goh Keng Swee', 'Ganing Bin Jangkat', 'S. P. Seenivasagam', "Raja Rome Bin Raja Ma'amor", 'Pengiran Tahir Petra', 'Stanley Ho Ngun Khiu', 'Lee Kuan Yew', 'Mohd. Zahir Bin Haji Ismail', 'Abdul Samad Bin Gul Ahmad Mianji'}

In [53]:
process.extract("Abdullah Bin Haji Ahmad", unique_names)

[('Ahmad Bin Abdullah', 95),
 ('Abdul Hamid Khan Bin Haji Sakhawat Ali Khan', 86),
 ('Ahmad Boestamam', 86),
 ('Ahmad Bin Saaid', 86),
 ('Aziz Bin Ishak', 86)]

In [175]:
df2 = pd.read_csv("DR - dr_1_11_id_all.csv")

In [176]:
df2 = df2.drop(columns="index")

In [172]:
df2

,vol,kod_kawasan,negeri,kawasan,gelaran,nama,tahun_lahir,jantina,kumpulan_etnik,parti,jawatan_kabinet,jawatan_parlimen,gambar,remarks,id,uid,new_id
0,1,P001,Perlis,Perlis Utara,Tuan,Othman Bin Abdullah,NaN,male,bumiputera,Perikatan - UMNO,NaN,NaN,NaN,NaN,698,NaN,NaN
1,1,P002,Perlis,Perlis Selatan,Tuan Haji,Mokhtar Bin Haji Ismail,NaN,male,bumiputera,Perikatan - UMNO,NaN,NaN,NaN,NaN,631,NaN,NaN
2,1,P003,Kedah,Jitra,Datin,Fatimah Binti Haji Hashim,NaN,female,bumiputera,Perikatan - UMNO,NaN,NaN,NaN,NaN,254,NaN,NaN
3,1,P004,Kedah,Kubang Pasu Barat,Tuan Haji,Azahari Bin Haji Ibrahim,NaN,male,bumiputera,Perikatan - UMNO,NaN,NaN,NaN,NaN,152,NaN,NaN
4,1,P005,Kedah,Kota Star Utara,Tuan Haji,Abdul Khalid Bin Awang Osman,NaN,male,bumiputera,Perikatan - UMNO,NaN,NaN,NaN,NaN,38,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2811,15,P220,Sarawak,Baram,YB Dato,Anyi Ngau,1958.0,male,bumiputera,GPS,NaN,NaN,https://www.parlimen.gov.my/images/webuser/ahl...,NaN,1045,3978.0,341.0
2812,15,P221,Sarawak,Limbang,YB Datuk Haji,Hasbi bin Haji Habibollah,1963.0,male,bumiputera,GPS,Timbalan Menteri Pengangkutan,NaN,https://www.parlimen.gov.my/images/webuser/ahl...,NaN,1104,3627.0,246.0
2813,15,P222,Sarawak,Lawas,YB Dato,Henry Sum Agong,1946.0,male,bumiputera,GPS,NaN,NaN,https://www.parlimen.gov.my/images/webuser/ahl...,NaN,313,2912.0,73.0
2814,15,NaN,NaN,NaN,YB Tan Sri Dato' (Dr.),Johari bin Abdul,1955.0,male,bumiputera,NaN,NaN,Yang di-Pertua Dewan Rakyat,https://www.parlimen.gov.my/images/webuser/ahl...,NaN,1130,3304.0,108.0
2815,15,NaN,NaN,NaN,Dr.,Nizam Mydin bin Bacha Mydin,1975.0,male,bumiputera,NaN,NaN,Setiausaha Dewan Rakyat,https://www.parlimen.gov.my/images/webuser/ahl...,NaN,1265,9999993.0,576.0

In [180]:
df3 = df2[df2["id"]!=9999999][["vol", "id"]].groupby("id").min().reset_index().sort_values(["vol", "id"]).reset_index(drop=True).reset_index()[["index","id"]]

In [182]:
df4 = pd.merge(df2, df3, "left", on="id")

In [184]:
df5 = df4[["tahun_lahir","index"]].dropna().drop_duplicates()

In [185]:
double_index = df5["index"].value_counts()[(df5["index"].value_counts()>1)].index

In [186]:
df5[df5["index"]==473]

      tahun_lahir  index
1944       1952.0  473.0
2493       1947.0  473.0

In [189]:
df4[df4["index"] == 1130]

,vol,kod_kawasan,negeri,kawasan,gelaran,nama,tahun_lahir,jantina,kumpulan_etnik,parti,jawatan_kabinet,jawatan_parlimen,gambar,remarks,id,uid,new_id,index
2187,13,P059,Perak,Bukit Gantang,YB Tuan,Idris Bin Haji Ahmad,1964.0,male,bumiputera,PAS,NaN,NaN,https://www.parlimen.gov.my/images/webuser/ahl...,NaN,1114,2922.0,74.0,1130.0
2648,15,P058,Perak,Bagan Serai,YB Datuk,Idris bin Ahmad,1963.0,male,bumiputera,PN,NaN,NaN,https://www.parlimen.gov.my/images/webuser/ahl...,NaN,1114,4631.0,468.0,1130.0

In [190]:
double_index_fix = df5[df5["index"].isin(double_index)].groupby("index").min().reset_index()

In [191]:
double_index_fix

     index  tahun_lahir
0    473.0       1947.0
1    630.0       1947.0
2    677.0       1954.0
3    694.0       1951.0
4    765.0       1958.0
5    891.0       1961.0
6    934.0       1954.0
7   1073.0       1961.0
8   1079.0       1955.0
9   1124.0       1959.0
10  1130.0       1963.0
11  1178.0       1949.0
12  1179.0       1955.0
13  1193.0       1961.0
14  1195.0       1957.0
15  1206.0       1971.0
16  1209.0       1980.0
17  1213.0       1976.0
18  1217.0       1982.0
19  1237.0       1960.0
20  1241.0       1967.0
21  1265.0       1967.0
22  1277.0       1964.0
23  1280.0       1971.0
24  1283.0       1969.0
25  1287.0       1960.0
26  1293.0       1975.0

In [192]:
single_index = df5[~df5["index"].isin(double_index)]

In [193]:
tahun_lahir_map = pd.concat([single_index,double_index_fix]).sort_values("index").reset_index(drop=True)

In [194]:
tahun_lahir_map

     tahun_lahir   index
0         1926.0   164.0
1         1941.0   268.0
2         1951.0   285.0
3         1954.0   355.0
4         1943.0   372.0
..           ...     ...
534       1959.0  1402.0
535       1965.0  1403.0
536       1964.0  1404.0
537       1959.0  1405.0
538       1966.0  1406.0

[539 rows x 2 columns]

In [195]:
df4.drop(columns="tahun_lahir").merge(tahun_lahir_map, on="index", how="left").to_csv("master_table.csv", index=False)