In [34]:
import pandas as pd

In [35]:
spr_data = pd.read_csv("/Users/justin/govtech/projects/hansard/data_analysis/hansards-analysis/src_mp/unique_id.csv")
spr_data = spr_data[spr_data["vol"] == 15].copy()

In [36]:
spr_data

,vol,kod_kawasan,name,sex,ethnicity,tahun_lahir,parti,uid
0,15,P001,Rushdan Bin Rusmi,male,bumiputera,1978,PN,4409
1,15,P002,Zakri Bin Hassan,male,bumiputera,1965,PN,4413
2,15,P003,Shahidan Bin Kassim,male,bumiputera,1951,PN,1665
3,15,P004,Mohd Suhaimi Bin Abdullah,male,bumiputera,1976,PN,4420
4,15,P005,Abd Ghani Bin Ahmad,male,bumiputera,1970,PN,4423
...,...,...,...,...,...,...,...,...
217,15,P218,Lukanisman Bin Awang Sauni,male,bumiputera,1982,GPS,4403
218,15,P219,Chiew Choon Man,male,chinese,1991,PH,5212
219,15,P220,Anyi Ngau,male,bumiputera,1958,GPS,3978
220,15,P221,Hasbi Bin Habibollah,male,bumiputera,1963,GPS,3627
221,15,P222,Henry Sum Agong,male,bumiputera,1946,GPS,2912

In [37]:
dr_data = pd.read_csv("cleaned_maklumat_new.csv")

In [38]:
merge_df = pd.merge(dr_data, spr_data, "left", ["vol", "kod_kawasan"])

In [39]:
min_df = merge_df[['vol', 'kod_kawasan', 'negeri', 'kawasan', 'uid', 'gelaran', 'nama','tahun_lahir_y','sex','ethnicity',
       'parti_x',
       'jawatan_kabinet', 'jawatan_parlimen', 'gambar', 
        ]]

In [40]:
min_df.columns = ["vol", "kod_kawasan", "negeri", "kawasan", 'uid', "gelaran", "nama", "tahun_lahir", "jantina", "kumpulan_etnik", "parti", "jawatan_kabinet","jawatan_parlimen", "gambar"]

In [41]:
min_df["negeri"] = min_df["negeri"].replace("-",pd.NA)

/var/folders/7q/vk27jw6d7_95l168mby_n6zc0000gn/T/ipykernel_73562/898290794.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  min_df["negeri"] = min_df["negeri"].replace("-",pd.NA)

In [42]:
min_df.to_csv("DR_15_spr_id.csv", index=False)

# OLD

In [43]:
spr_data_old = pd.read_csv("/Users/justin/govtech/projects/hansard/data_analysis/hansards-analysis/src_mp/unique_id.csv")
dr_data_old = pd.read_csv("cleaned_maklumat.csv")
dr_data_old = dr_data_old[dr_data_old["vol"] >= 12].copy()

In [44]:
merge_df_old = pd.merge(dr_data_old, spr_data_old, "left", ["vol", "kod_kawasan"])

In [45]:
min_df_old = merge_df_old[['vol', 'kod_kawasan', 'negeri', 'kawasan', 'uid','gelaran', 'nama','tahun_lahir_y','sex','ethnicity',
       'parti_x',
       'jawatan_kabinet', 'jawatan_parlimen', 'gambar', "name"
        ]]

In [46]:
min_df_old.columns = ["vol", "kod_kawasan", "negeri", "kawasan",'uid', "gelaran", "nama", "tahun_lahir", "jantina", "kumpulan_etnik", "parti", "jawatan_kabinet","jawatan_parlimen", "gambar","spr_name"]

In [47]:
min_df["jawatan_kabinet"] = min_df["jawatan_kabinet"].replace("Tiada",pd.NA)

/var/folders/7q/vk27jw6d7_95l168mby_n6zc0000gn/T/ipykernel_73562/1221527497.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  min_df["jawatan_kabinet"] = min_df["jawatan_kabinet"].replace("Tiada",pd.NA)

In [48]:
min_df_old.to_csv("DR_1214_spr_id.csv", index=False)