In [47]:
import pandas as pd

In [48]:
df_full = pd.read_csv("author_history_with_term - author_history_with_term.csv")

In [49]:
df_full["start_date"] = pd.to_datetime(df_full["start_date"])
df_full["end_date"] = pd.to_datetime(df_full["end_date"])

In [50]:
df_full

,author_id,vol,author,birth_year,sex,ethnicity,party,negeri,area,kod_kawasan,exec_posts,service_posts,start_date,end_date
0,2289,12,AZMI BIN KHALID,1941.0,male,bumiputera,BN - UMNO,Perlis,Padang Besar,P001,NaN,NaN,2008-03-08,2013-04-03
1,1663,12,MOHD RADZI BIN TAN SRI SHEIKH AHMAD,1942.0,male,bumiputera,BN - UMNO,Perlis,Kangar,P002,NaN,NaN,2008-03-08,2013-04-03
2,3285,12,ISMAIL BIN KASIM,1960.0,male,bumiputera,BN - UMNO,Perlis,Arau,P003,NaN,NaN,2008-03-08,2013-04-03
3,3286,12,ABU BAKAR BIN TAIB,1943.0,male,bumiputera,BN - UMNO,Kedah,Langkawi,P004,NaN,NaN,2008-03-08,2013-04-03
4,3288,12,MUKHRIZ TUN DR. MAHATHIR,1964.0,male,bumiputera,BN - UMNO,Kedah,Jerlun,P005,Timbalan Menteri Perdagangan Antarabangsa Dan ...,NaN,2008-03-08,2013-04-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1231,3524,15,NUR JAZLAN BIN TAN SRI MOHAMED,1966.0,male,bumiputera,UMNO,NaN,NaN,NaN,NaN,Timbalan Yang di-Pertua Dewan Negara,2023-06-15,2026-06-14
1232,3333,15,MOHD HATTA BIN MD RAMLI,1957.0,male,bumiputera,PH - AMANAH,NaN,NaN,NaN,NaN,Ahli Dewan Negara,2023-03-20,2026-03-19
1233,3304,15,JOHARI BIN ABDUL,1955.0,male,bumiputera,NaN,NaN,NaN,NaN,NaN,Yang di-Pertua Dewan Rakyat,2022-11-19,NaT
1234,2615,15,SAIFUDDIN NASUTION BIN ISMAIL,1964.0,male,bumiputera,PKR,NaN,NaN,NaN,Menteri Dalam Negeri,Menteri Dalam Negeri,2022-11-19,NaT
1235,2615,15,SAIFUDDIN NASUTION BIN ISMAIL,1964.0,male,bumiputera,PKR,NaN,NaN,NaN,Menteri Dalam Negeri,Menteri Dalam Negeri,2022-12-03,2025-12-02

In [51]:
df_full.to_csv("author_history_2025_03_05.csv", index=False)
df_full.to_parquet("author_history_2025_03_05.parquet", index=False)

In [52]:
df_full[["author_id","author","birth_year","sex","ethnicity"]].drop_duplicates()["author_id"].value_counts().reset_index()[df_full[["author_id","author","birth_year","sex","ethnicity"]].drop_duplicates()["author_id"].value_counts().reset_index()["count"] > 1]["author_id"].values

array([2797])

In [53]:
df_author = df_full[["author_id","author","birth_year","sex","ethnicity"]].drop_duplicates()

In [57]:
df_author = df_author.drop(769)

In [59]:
df_author = df_author.reset_index(drop=True)

In [60]:
df_author

,author_id,author,birth_year,sex,ethnicity
0,2289,AZMI BIN KHALID,1941.0,male,bumiputera
1,1663,MOHD RADZI BIN TAN SRI SHEIKH AHMAD,1942.0,male,bumiputera
2,3285,ISMAIL BIN KASIM,1960.0,male,bumiputera
3,3286,ABU BAKAR BIN TAIB,1943.0,male,bumiputera
4,3288,MUKHRIZ TUN DR. MAHATHIR,1964.0,male,bumiputera
...,...,...,...,...,...
696,20671,AMIR BIN MD GHAZALI,NaN,male,bumiputera
697,20670,AMIR HAMZAH AZIZAN,NaN,male,bumiputera
698,20637,ABUN SUI ANYIT,NaN,male,bumiputera
699,20622,ABDUL NASIR BIN HAJI IDRIS,NaN,male,bumiputera
700,20618,ABDUL HALIM BIN HAJI SULEIMAN,NaN,male,bumiputera

In [61]:
df_author.to_csv("author_2025_03_05.csv", index=False)
df_author.to_parquet("author_2025_03_05.parquet", index=False)